version: '3'

services: 
  db: 
    image: postgres:14.3
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgres_parcial
      POSTGRES_DB: postgres_parcial
    container_name: dev-estudio
    volumes:
      - ./postgres:/var/lib/postgresql/data